ConsoleApp1/Hotels.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="Hotels"
    targetNamespace="http://tempuri.org/Hotels.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/Hotels.xsd"
    xmlns:mstns="http://tempuri.org/Hotels.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>


	<xs:element name="Hotels">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Hotel" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Name" type="xs:string"></xs:element>
							<xs:element name="Phone" type="xs:string" maxOccurs="unbounded"></xs:element>
							<xs:element name="Address">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Number" type="xs:integer"></xs:element>
										<xs:element name="Street" type="xs:string"></xs:element>
										<xs:element name="City" type="xs:string"></xs:element>
										<xs:element name="State" type="xs:string"></xs:element>
										<xs:element name="Zip" type="xs:integer"></xs:element>
									</xs:sequence>
									<!--Required Attribute-->
									<xs:attribute name="NearestAirport" type="xs:string" use="required"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<!--Optional Attribute-->
						<xs:attribute name="Rating" type="xs:double" use="optional"/>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>