ConsoleApp1/Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema id="Hotels"
    targetNamespace="http://tempuri.org/Hotels.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/Hotels.xsd"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
>
	<xsd:element name="Hotels">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Hotel" minOccurs="1" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="Name" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
							<xsd:element name="Phone" type="xsd:string" minOccurs="1" maxOccurs="unbounded"></xsd:element>
							<xsd:element name="Address"  minOccurs="1" maxOccurs="1">
								<xsd:complexType>
									<xsd:sequence>
										<xsd:element name="Number" type="xsd:integer" minOccurs="1" maxOccurs="1"></xsd:element>
										<xsd:element name="Street" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
										<xsd:element name="City" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
										<xsd:element name="State" type="xsd:string" minOccurs="1" maxOccurs="1"></xsd:element>
										<xsd:element name="Zip" type="xsd:integer" minOccurs="1" maxOccurs="1"></xsd:element>
									</xsd:sequence>
									<xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
								</xsd:complexType>
							</xsd:element>
						</xsd:sequence>
						<xsd:attribute name="Rating" type="xsd:double" use="optional"/>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>