ConsoleApp1/Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified">

	<xs:element name="Hotels" type="HotelsType">
		<xs:key name="HotelNameKey">
			<xs:selector xpath="Hotel"/>
			<xs:field xpath="Name"/>
		</xs:key>
		<xs:unique name="UniquePhonePerHotel">
			<xs:selector xpath="Hotel"/>
			<xs:field xpath="Phone"/>
		</xs:unique>
	</xs:element>

	<xs:complexType name="HotelsType">
		<xs:sequence>
			<xs:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HotelType">
		<xs:sequence>
			<xs:element name="Name" type="xs:string"/>
			<xs:element name="Phone" type="PhoneNumber" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="Address" type="AddressType"/>
		</xs:sequence>
		<xs:attribute name="Rating" type="xs:decimal" use="optional"/>
	</xs:complexType>

	<xs:complexType name="AddressType">
		<xs:sequence>
			<xs:element name="Number" type="xs:positiveInteger"/>
			<xs:element name="Street" type="xs:string"/>
			<xs:element name="City" type="xs:string"/>
			<xs:element name="State" type="StateCode"/>
			<xs:element name="Zip" type="ZipCode"/>
		</xs:sequence>
		<xs:attribute name="NearestAirport" type="xs:string" use="required"/>
	</xs:complexType>

	<xs:simpleType name="PhoneNumber">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="StateCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[A-Z]{0,2,3}"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ZipCode">
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9]{5}"/>
		</xs:restriction>
	</xs:simpleType>

</xs:schema>
