ConsoleApp1/Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			attributeFormDefault="unqualified">

	<xsd:element name="Hotels" type="HotelsType">
		<xsd:key name="HotelNameKey">
			<xsd:selector xpath="Hotel"/>
			<xsd:field xpath="Name"/>
		</xsd:key>
		<xsd:unique name="UniquePhonePerHotel">
			<xsd:selector xpath="Hotel"/>
			<xsd:field xpath="Phone"/>
		</xsd:unique>
	</xsd:element>

	<xsd:complexType name="HotelsType">
		<xsd:sequence>
			<xsd:element name="Hotel" type="HotelType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="HotelType">
		<xsd:sequence>
			<xsd:element name="Name" type="xsd:string"/>
			<xsd:element name="Phone" type="PhoneNumber" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="Address" type="AddressType"/>
		</xsd:sequence>
		<xsd:attribute name="Rating" type="xsd:decimal" use="optional"/>
	</xsd:complexType>

	<xsd:complexType name="AddressType">
		<xsd:sequence>
			<xsd:element name="Number" type="xsd:positiveInteger"/>
			<xsd:element name="Street" type="xsd:string"/>
			<xsd:element name="City" type="xsd:string"/>
			<xsd:element name="State" type="StateCode"/>
			<xsd:element name="Zip" type="ZipCode"/>
		</xsd:sequence>
		<xsd:attribute name="NearestAirport" type="xsd:string" use="required"/>
	</xsd:complexType>

	<xsd:simpleType name="PhoneNumber">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}-[0-9]{3}-[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="StateCode">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[A-Z]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ZipCode">
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{5}"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
